.hero{
  text-align: center;
  margin: 25px 0;
  color: #252020;
  text-wrap: wrap ;
}
.title{
  font-size:4rem;
  font-weight: 200;
}
.subtitle{
  color: #252020;
  font-size: medium;
  font-size: 1.2rem;
  margin-top: 20px;
  line-height: 30px;
}